{% extends "data_manager_app/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/aiModel.css' %}">
{% endblock %}
{% block content %}
    <!-- Delete confirm -->
    <h2 id="message" class="text-center">{{ message }}</h2>
    <div class="buttons" id="buttons">
        <button type="button" class="btn btn-info my-button" data-toggle="modal" data-target="#search">
            Search
        </button>
        {% if request.user.role.role_name != 'guest' %}
            <button id="{% url 'data_category' %}" class="btn btn-success my-success-button" onclick="openAddForm(this.id)">Add Model</button>
        {% endif %}
    </div>
    {% if request.user.role.role_name != 'guest' %}
        <div class="delete-confirm" id="delete-confirm">
            <form id="confirm-delete">
                {% csrf_token %}
                <h4 class="text-center" style="color:red"> Delete </h4>
                <div id="delete-content">
                    <h5 class="text-center" id="delete-item"></h5>
                    <div class="text-center">
                        <input type="submit" class="my-button btn btn-success"/>
                        <button type="button" id="cancel" class="my-button btn btn-danger my-danger-button" onclick="closeDeleteConfirm()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    <!-- end delete confirm -->
    <!-- model content -->
    <div class="table-content" id="table-content">
        <table class="table table-striped table-sm" id="data-table">
            <thead class="thead-dark">
            <tr>
                <th class="text-center"> Id </th>
                <th class="text-center">Model name</th>
                <th class="text-center">Model owner</th>
                <th class="action text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for model in models %}
                <tr>
                    <td class="text-center"> {{forloop.counter}} </td>
                    <td id={{ model.model_id }} class="text-center">{{ model.model_name }}</td>
                    <td class="text-center">{{ model.model_owner }}</td>
                    {% if request.user.role.role_name != 'guest' %}
                        <td class="action text-center">
                            <button class="btn btn-primary" onclick="onClick(this.id)" id="{% url 'ai_model_detail' model.model_id %}">Edit</button>
                            <button class="btn btn-danger" onclick="openDeleteConfirm(this.name)" name="{% url 'ai_model_detail' model.model_id %}">Delete</button>
                        </td>
                    {% else %}
                        <td class="action text-center">None</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Stolen -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if models.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ models.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}

                {% if models.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ models.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in models.paginator.page_range %}
                    {% if models.number == i %}
                        <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
                        </li>
                    {% elif i > models.number|add:'-5' and i < models.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if models.paginator.num_pages > models.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{ models.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if models.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ models.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- End stolen -->
    <!-- Add form -->
    {% if request.user.role.role_name != 'guest' %}
        <div class="add-frame" id="add-frame">
            <form id="ai-model" method="post" action="{% url 'ai_model' %}">
                {% csrf_token %}
                <h4 id= "form-label" class="text-center"> Add Model <h4>
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <input type="submit" id='submit' class="btn btn-success"></input>
                        <button type="button" id="cancel" class="btn btn-danger my-danger-button" onclick="closeAddForm()">Cancel</button>
                    </div>
            </form>
        </div>
    {% endif %}

    <!-- End add form -->

{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/aiModel.js' %}"> </script>
{% endblock javascript %}
{% block modal %}
    <!-- Search form -->
    <div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <form action="{% url 'search_ai_model' %}" method="GET" id="search-form">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Search</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{  search_form }}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End search form -->
{% endblock %}