{% extends "data_manager_app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/changePassword.css' %}">
{% endblock %}
{% block content %}
<div class="container" id="container">
    <div class="frame fadeIn first">
        <form action="{% url 'change_password' %}" , method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Current password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required onkeyup="validate_change_password()">
            </div>
                <div class="form-group">
                    <label for="">New password</label>
                    <input type="password" name="new_password" id="new" class="form-control" placeholder="New password"
                           required onkeyup="validate_change_password()">
                </div>
                <div class="form-group">
                    <label for="">Confirm password</label>
                    <div class="cnf_pass"> <input type="password" name="cnf_password" id="conf_new" class="form-control" placeholder="Confirm"
                           required onkeyup="validate_change_password()"><i id = "icon" class="fa fa-exclamation-triangle" style="color:red;"></i></div>
                </div>
                      {% if messages %}
                        {% for message in messages %}
                            <div class="form-group text-center">
                              {% if message.tags == "error" %}
                                <p style="color: red; font-size: large;">{{ message }}</p>
                              {% elif message.tags == "info" %}
                                <p style="color: green; font-size: large;">{{ message }}</p>
                              {% endif %}
                          </div>
                        {% endfor %}
                      {% endif %}
                <div class="group text-center">
                    <button type="submit" id='submit' class="btn btn-danger" disabled>Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/changePassword.js' %}"></script>
{% endblock %}
{% block loading %}
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
{% endblock %}