{% extends "data_manager_app/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/dataDetail.css' %}">
{% endblock %}
{% block content %}
    <h2 id="message" class="text-center">{{ message }}</h2>
    <a href="{% url 'data_page' %}" style="color:blue"><< Return to data page</a>
    {% if request.user.role.role_name != 'guest' %}
        <button class="my-button btn btn-success" onclick="openForm()">Edit data</button>
        <div class="delete-confirm" id="delete-confirm">
            <form id="confirm-delete">
                {% csrf_token %}
                <h4 class="text-center"> Delete </h4>
                <h5 class="text-center">Are you sure you want to delete {{ data.name }}</h5>
                <div class="text-center">
                    <input type="submit" class="btn btn-success"/>
                    <button type="button" class="btn btn-danger my-danger-button" onclick="closeDeleteConfirm()">No</button>
                </div>
            </form>
        </div>
    {% endif %}
    <div id="container-data-detail" >
        <div class="data-detail-content" id="data-detail-content">
            <h3 class="message"></h3>
            <div class="data-image">
                {%  if  data.data_avatar %}
                    <img id="image" src="{{ data.data_avatar.url }}"></img>
                {% else %}
                    <img id="image" src="{% static 'images/db.png' %}" alt="">
                {% endif %}
            </div>
            <div class="data-detail">
                <div class="row">
                    <span>Id</span>
                    <h3>{{ data.data_id }}</h3>
                </div>
                <div class="row">
                    <span>Data name</span>
                    <h3 id="name">{{ data.name }}</h3>
                </div>
                <div class="row">
                    <span>Data Category</span>
                    <h3 id="category">{{ data.data_category }}</h3>
                </div>
                <div class="row">
                    <span>Size on disk</span>
                    <h3 id="size_on_disk">{{ data.size_on_disk }} GB</h3>
                </div>
                <div class="row">
                    <span>Directory</span>
                    <h3 id="directory_of_data">{{ data.directory_of_data }}</h3>
                </div>
                <div class="row">
                    <span>Number of images</span>
                    <h3 id="number_of_images">{{ data.number_of_images }}</h3>
                </div>
                <div class="row">
                    <span>Number of classes</span>
                    <h3 id="number_of_classes">{{ data.number_of_classes }}</h3>
                </div>
                <div class="row">
                    <span>IQA</span>
                    <h3 id="iqa">{{ data.iqa_0 }}, {{ data.iqa_1 }}, {{ data.iqa_2 }}, {{ data.iqa_3 }}, {{ data.iqa_4 }}</h3>
                </div>
                <div class="row">
                    <span>Shape</span>
                    <h3 id="shape">{{ data.shape_0 }}, {{ data.shape_1 }}, {{ data.shape_2 }}, {{ data.shape_3 }}, {{ data.shape_4 }}</h3>
                </div>
                <div class="row">
                    <span>Analyzed</span>
                    <h3 id="analyzed">{{ data.analyzed }}</h3>
                </div>
                <div class="row">
                    <span>Best analyzed result</span>
                    <h3 id="best_result">{{ data.best_result }}</h3>
                </div>
                <div class="row">
                    <span>Best analyzed model</span>
                    <h3 id="best_analyzed_model">{{ data.best_analyzed_model }}</h3>
                </div>
                <div class="row">
                    <span>Added by </span>
                    <h3 id="best_analyzed_model">{{ data.data_owner }}</h3>
                </div>
            </div>
        </div>
        {% if request.user.role.role_name != 'guest' %}
            <button class="my-button btn btn-danger" onclick="openDeleteConfirm()">Delete</button>
        {% endif %}
    </div>
    {% if request.user.role.role_name != 'guest' %}
        <div class="edit-frame" id="edit-frame">
            <form id="data" method="post" action="{% url 'data_detail' data.data_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h4 id= "form-label" class="text-center"> Edit data {{ data.name }}</h4>
                <div class="display-form">
                    {% for field in form %}
                        <div class="form-group col-6" style="display:flex;">
                            <label class="col-4">{{ field.label }}</label>
                            <div class="col-8 text-center">{{ field }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <input type="submit"  class="btn btn-success"/>
                    <button type="button" id="cancel" class="btn btn-danger my-danger-button" onclick="closeForm()">Back</button>
                </div>
                <form>
        </div>
    {% endif %}

{% endblock %}
{%  block javascript %}
    <script src="{% static 'js/dataDetail.js' %}"></script>
{% endblock %}
