{% extends 'data_manager_app/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/modelVisualize.css' %}">
{% endblock %}
{% block content %}
        <div class="all-model">
            <canvas id="all-model-chart" data-url="{% url 'model_chart' %}"></canvas>
            <div class="my-chart" id="my-chart">
                <p>Number of models: </p>
                <h2> {{ number_of_models }}</h2>
                <p>Number of users: </p>
                <h2> {{ number_of_users }}</h2>
            </div>
        </div>

{% endblock %}
{% block javascript %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/modelVisualize.js' %}"></script>
    <script src="{% static 'js/chartjs-plugin-labels.js' %}"></script>
{% endblock %}